In [9]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

In [10]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns
import plotly.express as px
import math

import plotly.graph_objects as go
from plotly.subplots import make_subplots

from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import LinearRegression

from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree  import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier

# import scikitplot as skplt
from sklearn.metrics import accuracy_score

In [11]:

data=pd.read_csv("dataset.csv")
data

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,DEATH_EVENT
0,75.0,0,582,0,20,1,265000.00,1.9,130,1,0,4,1
1,55.0,0,7861,0,38,0,263358.03,1.1,136,1,0,6,1
2,65.0,0,146,0,20,0,162000.00,1.3,129,1,1,7,1
3,50.0,1,111,0,20,0,210000.00,1.9,137,1,0,7,1
4,65.0,1,160,1,20,0,327000.00,2.7,116,0,0,8,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
294,62.0,0,61,1,38,1,155000.00,1.1,143,1,1,270,0
295,55.0,0,1820,0,38,0,270000.00,1.2,139,0,0,271,0
296,45.0,0,2060,1,60,0,742000.00,0.8,138,0,0,278,0
297,45.0,0,2413,0,38,0,140000.00,1.4,140,1,1,280,0
298,50.0,0,196,0,45,0,395000.00,1.6,136,1,1,285,0

In [12]:
data.columns

Index(['age', 'anaemia', 'creatinine_phosphokinase', 'diabetes',
       'ejection_fraction', 'high_blood_pressure', 'platelets',
       'serum_creatinine', 'serum_sodium', 'sex', 'smoking', 'time',
       'DEATH_EVENT'],
      dtype='object')

In [13]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 299 entries, 0 to 298
Data columns (total 13 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   age                       299 non-null    float64
 1   anaemia                   299 non-null    int64
 2   creatinine_phosphokinase  299 non-null    int64
 3   diabetes                  299 non-null    int64
 4   ejection_fraction         299 non-null    int64
 5   high_blood_pressure       299 non-null    int64
 6   platelets                 299 non-null    float64
 7   serum_creatinine          299 non-null    float64
 8   serum_sodium              299 non-null    int64
 9   sex                       299 non-null    int64
 10  smoking                   299 non-null    int64
 11  time                      299 non-null    int64
 12  DEATH_EVENT               299 non-null    int64
dtypes: float64(3), int64(10)
memory usage: 30.5 KB

In [14]:
x = data.drop(["DEATH_EVENT"],axis=1)
y = data['DEATH_EVENT']
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size = 0.2, random_state = 42, shuffle = True)

In [15]:
lr = LogisticRegression(max_iter=3000)
lr.fit(x_train, y_train)

lr_train_score = lr.score(x_train, y_train)
lr_test_score= lr.score(x_test, y_test)

y_pred_lr = lr.predict(x_test)
lr_acc = accuracy_score(y_pred_lr,y_test)

In [16]:
print('LogisticRegressionModel Train Score is : ' , lr_train_score)
print("----------------------------------------------------------------")
print('LogisticRegressionModel Test Score is : ' , lr_test_score)
print("----------------------------------------------------------------")
print('LogisticRegressionModel accuracy is : ', lr_acc)

LogisticRegressionModel Train Score is :  0.8410041841004184
----------------------------------------------------------------
LogisticRegressionModel Test Score is :  0.8
----------------------------------------------------------------
LogisticRegressionModel accuracy is :  0.8

In [17]:
c = lr.coef_

print('coefficient')
for i in range(len(data.columns)-1):
    print(f'{data.columns[i]} {c[0][i]}')

coefficient
age 0.05931027818663501
anaemia -8.325166937018441e-05
creatinine_phosphokinase 0.00011092916157480556
diabetes 0.0005191343702320419
ejection_fraction -0.0668650929958312
high_blood_pressure -0.0004944028223743321
platelets -1.439650422244252e-06
serum_creatinine 0.007651038628591383
serum_sodium 0.0034821677369753054
sex -0.0007553830008849163
smoking -0.0003190100339062666
time -0.020718695452313456

In [10]:
y_pred = lr.predict(x_test)
print(y_pred)
print(len(y_pred))

[0 0 0 1 0 0 1 0 1 0 0 0 0 0 1 1 0 0 0 1 0 0 0 1 1 0 0 0 0 0 1 0 1 1 0 0 0
 0 0 0 1 1 0 0 0 0 0 0 0 0 1 0 1 0 0 0 0 1 0 1]
60

In [15]:
y_pred_prob = lr.predict_proba(x_test)[:,1]

print(x_test)
print(y_pred_prob)

      age  anaemia  creatinine_phosphokinase  diabetes  ejection_fraction  \
281  70.0        0                       582         0                 40
265  50.0        1                       298         0                 35
164  45.0        0                      2442         1                 30
9    80.0        1                       123         0                 35
77   42.0        0                       102         1                 40
278  50.0        1                      1051         1                 30
93   60.0        1                       154         0                 25
109  45.0        0                       292         1                 35
5    90.0        1                        47         0                 40
173  50.0        1                       115         0                 20
97   70.0        1                        59         0                 60
195  77.0        1                       418         0                 45
184  58.0        1                       145         0                 25
154  65.0        1                       335         0                 35
57   60.0        1                       607         0                 40
60   45.0        0                      7702         1                 25
147  64.0        0                      1610         0                 60
108  63.0        0                       936         0                 38
63   45.0        0                       582         0                 35
140  80.0        0                       805         0                 38
155  60.0        1                       231         1                 25
104  60.0        0                        53         0                 50
247  64.0        0                       143         0                 25
46   51.0        0                      1380         0                 25
42   70.0        0                       571         1                 45
275  45.0        0                       582         0                 38
280  70.0        0                      2695         1                 40
116  60.0        1                        96         1                 60
213  48.0        1                       131         1                 30
236  75.0        0                       119         0                 50
17   45.0        0                       582         0                 14
239  55.0        1                       180         0                 45
33   50.0        1                       159         1                 30
24   75.0        0                       582         1                 30
45   50.0        0                       582         1                 38
7    60.0        1                       315         1                 60
113  70.0        1                       143         0                 60
194  45.0        0                       582         0                 20
111  55.0        0                        60         0                 35
92   42.0        0                       582         0                 60
75   60.0        1                        47         0                 20
82   60.0        1                        76         1                 25
118  65.0        1                       113         1                 60
76   70.0        0                        92         0                 60
129  53.0        1                       270         1                 35
197  65.0        0                       167         0                 30
210  70.0        0                       212         1                 17
288  65.0        0                       892         1                 35
219  55.0        0                       582         1                 35
178  63.0        1                       122         1                 60
144  72.0        1                       943         0                 25
186  50.0        0                       582         0                 50
84   59.0        1                       280         1                 25
248  40.0        0                       624         0                 35
277  70.0        0                       582         1                 38
73   65.0        0                       224         1                 50
244  54.0        0                       582         1                 38
25   80.0        0                       148         1                 38
209  49.0        0                       972         1                 35
59   72.0        0                       364         1                 20

     high_blood_pressure  platelets  serum_creatinine  serum_sodium  sex  \
281                    0   51000.00              2.70           136    1
265                    0  362000.00              0.90           140    1
164                    0  334000.00              1.10           139    1
9                      1  388000.00              9.40           133    1
77                     0  237000.00              1.20           140    1
278                    0  232000.00              0.70           136    0
93                     0  210000.00              1.70           135    1
109                    0  850000.00              1.30           142    1
5                      1  204000.00              2.10           132    1
173                    0  189000.00              0.80           139    1
97                     0  255000.00              1.10           136    0
195                    0  223000.00              1.80           145    1
184                    0  219000.00              1.20           137    1
154                    1  235000.00              0.80           136    0
57                     0  216000.00              0.60           138    1
60                     1  390000.00              1.00           139    1
147                    0  242000.00              1.00           137    1
108                    0  304000.00              1.10           133    1
63                     0  385000.00              1.00           145    1
140                    0  263358.03              1.10           134    1
155                    0  194000.00              1.70           140    1
104                    1  286000.00              2.30           143    0
247                    0  246000.00              2.40           135    1
46                     1  271000.00              0.90           130    1
42                     1  185000.00              1.20           139    1
275                    1  422000.00              0.80           137    0
280                    0  241000.00              1.00           137    1
116                    1  271000.00              0.70           136    0
213                    1  244000.00              1.60           130    0
236                    1  248000.00              1.10           148    1
17                     0  166000.00              0.80           127    1
239                    0  263358.03              1.18           137    1
33                     0  302000.00              1.20           138    0
24                     1  263358.03              1.83           134    0
45                     0  310000.00              1.90           135    1
7                      0  454000.00              1.10           131    1
113                    0  351000.00              1.30           137    0
194                    1  126000.00              1.60           135    1
111                    0  228000.00              1.20           135    1
92                     0  263358.03              1.18           137    0
75                     0  204000.00              0.70           139    1
82                     0  196000.00              2.50           132    0
118                    1  203000.00              0.90           140    0
76                     1  317000.00              0.80           140    0
129                    0  227000.00              3.40           145    1
197                    0  259000.00              0.80           138    0
210                    1  389000.00              1.00           136    1
288                    0  263358.03              1.10           142    0
219                    1  371000.00              0.70           140    0
178                    0  267000.00              1.20           145    1
144                    1  338000.00              1.70           139    1
186                    0  153000.00              0.60           134    0
84                     1  302000.00              1.00           141    0
248                    0  301000.00              1.00           142    1
277                    0   25100.00              1.10           140    1
73                     0  149000.00              1.30           137    1
244                    0  264000.00              1.80           134    1
25                     0  149000.00              1.90           144    1
209                    1  268000.00              0.80           130    0
59                     1  254000.00              1.30           136    1

     smoking  time
281        1   250
265        1   240
164        0   129
9          1    10
77         0    74
278        0   246
93         0    82
109        1    88
5          1     8
173        0   146
97         0    85
195        0   180
184        1   170
154        0   120
57         1    54
60         0    60
147        0   113
108        1    88
63         0    61
140        0   109
155        0   120
104        0    87
247        0   214
46         0    38
42         1    33
275        0   245
280        0   247
116        0    94
213        0   193
236        0   209
17         0    14
239        1   211
33         0    29
24         0    23
45         1    35
7          1    10
113        0    90
194        0   180
111        1    90
92         0    82
75         1    73
82         0    77
118        0    94
76         1    74
129        0   105
197        0   186
210        1   188
288        0   256
219        0   197
178        0   147
144        1   111
186        0   172
84         0    78
248        1   214
277        0   246
73         1    72
244        0   213
25         1    23
209        0   187
59         1    59
[0.03849106 0.01284424 0.15093692 0.89898493 0.17508542 0.02033035
 0.59514044 0.10139407 0.93603648 0.23747598 0.18246281 0.12696707
 0.17253824 0.31148012 0.50143215 0.63140557 0.09596161 0.37971887
 0.28641346 0.53250912 0.41276483 0.18576165 0.10340247 0.68725665
 0.67883324 0.00663924 0.03902491 0.09101645 0.04611248 0.04537691
 0.8476326  0.01811785 0.60633255 0.89397714 0.45066432 0.30682407
 0.15094358 0.11575363 0.31300732 0.04529867 0.71275004 0.62182511
 0.13130212 0.20643681 0.24262262 0.13331477 0.28165862 0.02749946
 0.04163538 0.04000591 0.60168753 0.02594023 0.57607182 0.01386323
 0.04918828 0.3356231  0.02695195 0.88543389 0.04198854 0.86622637]

In [39]:
#predict by user input
import csv 

col = list(data.columns)
col.pop()
inp=[]

for i in range(len(col)):
    
    inp.append(float(input(f'{col[i]} : ')))

for i in range(len(col)):
    print(col[i]+' : '+inp[i])


with open('input.csv', 'w', encoding='UTF8') as f:
    writer = csv.writer(f)

    writer.writerow(col)

    writer.writerow(inp)
    
    
    # write the data

0 70.0
1 0.0
2 582.0
3 0.0
4 40.0
5 0.0
6 51000.0
7 2.7
8 136.0
9 1.0
10 1.0
11 250.0

In [40]:
print(col)
print(inp)

['age', 'anaemia', 'creatinine_phosphokinase', 'diabetes', 'ejection_fraction', 'high_blood_pressure', 'platelets', 'serum_creatinine', 'serum_sodium', 'sex', 'smoking', 'time']
[70.0, 0.0, 582.0, 0.0, 40.0, 0.0, 51000.0, 2.7, 136.0, 1.0, 1.0, 250.0]

In [41]:
inp_data =pd.read_csv("input.csv")
inp_data

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time
0,70.0,0.0,582.0,0.0,40.0,0.0,51000.0,2.7,136.0,1.0,1.0,250.0

In [42]:
inp_pred = lr.predict(inp_data)
print(inp_pred)

[0]

In [43]:
inp_pred_prob = lr.predict_proba(inp_data)[:,1]

print(inp_data)
print(inp_pred_prob)

    age  anaemia  creatinine_phosphokinase  diabetes  ejection_fraction  \
0  70.0      0.0                     582.0       0.0               40.0

   high_blood_pressure  platelets  serum_creatinine  serum_sodium  sex  \
0                  0.0    51000.0               2.7         136.0  1.0

   smoking   time
0      1.0  250.0
[0.03849106]