In [10]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

In [11]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns
import plotly.express as px
import math

import plotly.graph_objects as go
from plotly.subplots import make_subplots

from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import LinearRegression

from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree  import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier

# import scikitplot as skplt
from sklearn.metrics import accuracy_score

In [12]:

data=pd.read_csv("dataset.csv")
data

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,DEATH_EVENT
0,75.0,0,582,0,20,1,265000.00,1.9,130,1,0,4,1
1,55.0,0,7861,0,38,0,263358.03,1.1,136,1,0,6,1
2,65.0,0,146,0,20,0,162000.00,1.3,129,1,1,7,1
3,50.0,1,111,0,20,0,210000.00,1.9,137,1,0,7,1
4,65.0,1,160,1,20,0,327000.00,2.7,116,0,0,8,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
294,62.0,0,61,1,38,1,155000.00,1.1,143,1,1,270,0
295,55.0,0,1820,0,38,0,270000.00,1.2,139,0,0,271,0
296,45.0,0,2060,1,60,0,742000.00,0.8,138,0,0,278,0
297,45.0,0,2413,0,38,0,140000.00,1.4,140,1,1,280,0
298,50.0,0,196,0,45,0,395000.00,1.6,136,1,1,285,0

In [13]:
data.columns

Index(['age', 'anaemia', 'creatinine_phosphokinase', 'diabetes',
       'ejection_fraction', 'high_blood_pressure', 'platelets',
       'serum_creatinine', 'serum_sodium', 'sex', 'smoking', 'time',
       'DEATH_EVENT'],
      dtype='object')

In [14]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 299 entries, 0 to 298
Data columns (total 13 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   age                       299 non-null    float64
 1   anaemia                   299 non-null    int64
 2   creatinine_phosphokinase  299 non-null    int64
 3   diabetes                  299 non-null    int64
 4   ejection_fraction         299 non-null    int64
 5   high_blood_pressure       299 non-null    int64
 6   platelets                 299 non-null    float64
 7   serum_creatinine          299 non-null    float64
 8   serum_sodium              299 non-null    int64
 9   sex                       299 non-null    int64
 10  smoking                   299 non-null    int64
 11  time                      299 non-null    int64
 12  DEATH_EVENT               299 non-null    int64
dtypes: float64(3), int64(10)
memory usage: 30.5 KB

In [15]:
x = data.drop(["DEATH_EVENT"],axis=1)
y = data['DEATH_EVENT']
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size = 0.2, random_state = 42, shuffle = True)

In [16]:
lr = LogisticRegression(max_iter=3000)
lr.fit(x_train, y_train)

lr_train_score = lr.score(x_train, y_train)
lr_test_score= lr.score(x_test, y_test)

y_pred_lr = lr.predict(x_test)
lr_acc = accuracy_score(y_pred_lr,y_test)

In [17]:
print('LogisticRegressionModel Train Score is : ' , lr_train_score)
print("----------------------------------------------------------------")
print('LogisticRegressionModel Test Score is : ' , lr_test_score)
print("----------------------------------------------------------------")
print('LogisticRegressionModel accuracy is : ', lr_acc)

LogisticRegressionModel Train Score is :  0.8410041841004184
----------------------------------------------------------------
LogisticRegressionModel Test Score is :  0.8
----------------------------------------------------------------
LogisticRegressionModel accuracy is :  0.8

In [18]:
from cgi import print_form


c = lr.coef_

print('coefficient')
for i in range(len(data.columns)-1):
    print(f'{data.columns[i]} {c[0][i]}')

coefficient
age 0.05931027818663501
anaemia -8.325166937018441e-05
creatinine_phosphokinase 0.00011092916157480556
diabetes 0.0005191343702320419
ejection_fraction -0.0668650929958312
high_blood_pressure -0.0004944028223743321
platelets -1.439650422244252e-06
serum_creatinine 0.007651038628591383
serum_sodium 0.0034821677369753054
sex -0.0007553830008849163
smoking -0.0003190100339062666
time -0.020718695452313456